<h1>Listing Your Market Reports</h1>

<table class="stylized">
  <tr>
    <th>Report</th>
	<th>Actions</th>
	<th>&nbsp;</th>
  </tr>

<% @reports.each do |report| %>
  <tr>
    <td><%=h report.report_date.to_s(:long) %></td>
    <td><%= link_to 'Show', report %></td>
	<td><%= link_to 'Download (PDF)', report_path(report, :format=>"pdf") %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Report', new_report_path %>



