
<table width="100%">
	<tbody>

<%@my_sales.each do |sale| %>

	<tr>
		<td><%= sale.amount%></td>
		<td><%=sale.ratgrade.name %></td>
		<td><%= sale.customer.name%></td>
		<td><%= sale.price%></td>
	</tr>		
	
<% end %>

	</tbody>
</table>