@media all{
	/* @override http://localhost:3001/stylesheets/custom.css?1280247497 */

	/* @override http://localhost:3001/stylesheets/custom.css?1280245739 */

	/* 

	CUSTOM STYLESHEET

	Add your custom styles here instead of style.css so it is easier to 
	update the template. Simply copy an existing style from style.css to 
	this file, and modify it to your liking. 

*/

#excel_link img{margin-top:15px;margin-left:25px;position:relative}


#page{height:100%;}
#bottom{position:relative;margin-top:100px;}

	.flash{margin-top:10px;}

	.clearfix{clear:both;}

	.trend_selector:hover{cursor:pointer;}
	
.oversale td{background-color:#FDD9E2 !important;}
th, tr{text-align:center;}

input.small{width:30px !important;}
#prediction_link{margin-left:25px;}
th.prediction_header{border-right:2px solid white;}
th.prediction_low{}
th.prediction_high{border-right:1px dotted white;border-left:2px solid white;}
.hilo_row{border-top:1px solid white;}


.availamt{color:green;font-weight:bold;}
.negavail{color:red;font-weight:bold;}
tr.footer{font-weight:bold;}

	/*    REPORT CSS  */
	#report_user_id{width:250px;}
	.report_date_span label{margin-left:37px;}
	#report_container{background-color:white;position:relative;margin:auto;width:960px;padding:25px;}
	#report_header{}
	#report_header img{float:left;}
	#report_links{position:relative;float:right;background-image:url('../images/report_links_bg.png');width:320px;height:117px;}
	#report_links p.phone_cell{position:absolute;left:37px;top:0	px;
		color: #006db5;
		font: 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	}
	#report_links p.phone_office{position:absolute;left:177px;top:0px;color: #006db5;
		font: 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;}
	#report_links a{
		color: #006db5;
		font: 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	}
	#report_links a.email_link{position:absolute;top:45px;left:37px;}
	#report_links a.site_link{position:absolute;top:77px;left:37px;}

	#report_content{}

	#report_subline h1{
		color: #f00;
		font: bold 31px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
		padding-top: 0;
	}
	
	
	#report_subline h1 span{
		font-size: 14px;
		margin-left: 155px;
		font-variant: normal;
		letter-spacing: 0;
		word-spacing: 1px;
	}

	#checkbox_container{width:100%;height:100px;}
	.user_checkbox{float:left;width:200px;margin-bottom:20px;}





	#report_notes{border: 1px solid #006da7;padding: 0 10px 10px;}
	#report_notes p{
		line-height: 21px;
		font-size: 12px;
		color: #006da7;
	}

	.category_block{float:left;margin-bottom:30px;margin-top:15px;}
	.category_block:nth-child(odd){margin-right:149px;}
	.category_block h2{
		font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
		color: #006da7;
		line-height:10px;
	}

	.report_grade_table{border: 2px solid #006da7;border-top:20px solid #0060b0;width:405px;}
	.report_grade_table thead{background-color: #e1e8ef;}
	.report_grade_table thead tr td{border-bottom:1px solid #e1e8ef;height:30px;vertical-align:middle;text-align:center;border-right:1px solid #0060b0;
		color: #4b87b8;
	}
	.report_grade_table tbody td{height:40px;vertical-align:middle;text-align:center;border-right:1px solid #0060b0;border-bottom:1px solid #dbe5f4;
		color: #006da7;
		font: bold 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	}
	.report_grade_table tbody td.description{
		font: normal 13px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	}


	.trend_selector{color:gray;margin:0px 5px;}

	#trend_up.current{color:green;font-weight:bold;}
	#trend_down.current{color:red;font-weight:bold;}
	#trend_static.current{color:black;font-weight:bold;}









	#newsale_form{display:none;}

#newsale_form #customer_auto, #sale_fob, #sale_notes, #sale_customer_po{width:200px;}
#newsale_form #sale_amount, #sale_price, #sale_size_pref, #sale_cotefr, #sale_invoice_date, #sale_receive_date{width:90px;}


.left{float:left;}
.right{float:right;}
#sale_amount_container{float:left;}
#sale_price_container{float:right;}
#sale_size_pref_container{float:left;}
#sale_cotefr_container{float:right;}
#sale_notes{height:100px;}






/* WORKSHEET */

.worksheet_container{page-break-before: always;margin:auto;width:576px;height:720px;background-image:url('../images/Worksheet_template.png');}
.worksheet_content{position:relative;color:black;}

.worksheet_content h2{color:black;font-size:14px;}

.wk_id{position:absolute;top:0px;left:125px;}
.wk_user{position:absolute;top:-13px;left:385px;}
.wk_prebill{position:absolute;top:-18px;left:0px;font-size:20px !important;}
.wk_customer{position:absolute;top:60px;left:10px;}
.wk_customer_po{position:absolute;top:94px;left:95px;}
.wk_fob{position:absolute;top:60px;left:300px;}
.wk_invoice_date{position:absolute;top:135px;left:65px;}
.wk_receive_date{position:absolute;top:135px;left:210px;}
.wk_fob{position:absolute;top:60px;left:300px;}
.wk_amount{position:absolute;top:230px;left:50px;}
.wk_ratgrade{position:absolute;top:230px;left:185px;}
.wk_warehouse{position:absolute;top:230px;left:310px;}
.wk_price{position:absolute;top:230px;left:98px;}
.wk_notes{position:absolute;top:335px;left:10px;font-size:12px;}
.wk_size_pref{position:absolute;top:275px;left:70px;font-size:15px;}
.wk_cft{position:absolute;top:275px;left:340px;font-size:15px;}



#actions{position:absolute;top:750px;}

#print_sales_button{float:left;}
#print_unprinted_sales_button{float:right;}


.user_title{font-size:14px;}


/* CUSTOMER SECTION */

#search{width:400px;}
#customers table{width:100%;}
.client_type{padding:5px;width:100px;text-align:center;font-weight:bold;}
.client_customer{background-color:#EAF7D9;border:1px solid #BBDF8D;}
.client_inactive{background-color:#FFF5CC; border:1px solid #F2DD8C;}
.client_credit_hold{background-color:#FFD1D1; border:1px solid #F8ACAC;}

.client_card{
	margin-top:17px;
	padding-left: 32px;
	border-top:10px solid #B8E2FB;
	border-bottom:1px solid #B8E2FB;
	background-color:#E8F6FF;
}

.client_card .client_name{width:565px;}
.client_card .client_type{margin-top:20px;margin-right:25px;}

}



