/* @override http://localhost:3000/stylesheets/flashboard.css?1290456928 */

/* @override http://localhost:3000/stylesheets/flashboard.css?1290456284 */

/* FLASHBOARD */
html{height:100%;background-color:black;}
body{height:100%;margin:0;padding:0;background-color:black;}
#flashboard_container{width:100%;background-color:black;height:100%;}
.flash_column{width:25%;height:100%;
	border-style: none;
	float:left;
	margin-right:0em;
	padding:0em;
}

.flash_column h1{
	color: #FFF;
	font: bold 5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	border-color: #f7566b;
}


.user_sales{
	padding-left:0em;
	padding-right:2em;
}
.user_sales li{
	list-style-type: none;
	color: #dbfcfe;
	width: 100%;
	margin-bottom: 0em;
	border: 1px solid gray;
	opacity: 1;
	padding: 0em;
}

.user_sales li h2 {
	color: white;
	font-weight: bold;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;}


.user_sales li h3 {
	color: white;
	text-align: left;
	display: inline;
	font: bold 2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.user_sales li h3 span {
	font-size: .5em;
	margin-right: 1em;
	margin-left: 1em;
}