<tr class="fields">  
  
  <td><%= f.text_field :name, :size=>"10" %></td>


  <td><%= f.text_field :total, :size=>"10"  %></td>


  <td><%= f.text_field :availdate,  :class=>"rat_date"  %></td>

  <td><%= link_to_remove_fields "remove", f %></td>  
</tr>






