<div id="login_form">
<div class="toolbar">
	<h1>Login</h1> 
	<a href="#" class="back">Back</a>
	
</div>

<%= form_for @user_session, :url=>{:action=>"create"}, :html => { :id => "loginform" } do |form| %>  
<ul class="rounded">
	<li><%= form.text_field :login, :placeholder=>"Username"%></li>
		
	<li><%= form.password_field :password, :placeholder=>"Password"%></li>

 </ul>
<a style="margin:0 10px;color:rgba(0,0,0,.9)" href="#" class="submit whiteButton">Submit</a>
<% end %>


</div>



